<!DOCTYPE html>
<html data-ng-app="truckApp">
<head>
	<meta charset="utf-8"> 
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/css/bootstrap3/bootstrap-switch.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
		
	<script src="../../node_modules/switch/bootstrap-switch.min.js"></script>
	
	
</head>
<body>
<div class="container-fluid">
	<div class="page-header" style="margin:10px 0 10px;padding:0">
		<h4 style="margin:10px 0 5px 0">Entry</h4>
	</div><!-- /header -->
	<div id="row1" class="row"><div class="col-xs-6"><h5 id="l1" class="pull-right">Label</h5></div><div class="col-xs-6"><input type="checkbox" name="my-checkbox1" /></div></div>
	<div id="row2" class="row"><div class="col-xs-6"><h5 id="l2" class="pull-right">Label</h5></div><div class="col-xs-6"><input type="checkbox" name="my-checkbox2" /></div></div>
	<div id="row3" class="row"><div class="col-xs-6"><h5 id="l3" class="pull-right">Label</h5></div><div class="col-xs-6"><input type="checkbox" name="my-checkbox3" /></div></div>
	<div id="row4" class="row"><div class="col-xs-6"><h5 id="l4" class="pull-right">Label</h5></div><div class="col-xs-6"><input type="checkbox" name="my-checkbox4" /></div></div>
	<div id="row5" class="row"><div class="col-xs-6"><h5 id="l5" class="pull-right">Label</h5></div><div class="col-xs-6"><input type="checkbox" name="my-checkbox5" /></div></div>
	<div id="row6" class="row"><div class="col-xs-6"><h5 id="l6" class="pull-right">Label</h5></div><div class="col-xs-6"><input type="checkbox" name="my-checkbox6" /></div></div>
	<div id="row7" class="row"><div class="col-xs-6"><h5 id="l7" class="pull-right">Label</h5></div><div class="col-xs-6"><input type="checkbox" name="my-checkbox7" /></div></div>
	<div id="row8" class="row"><div class="col-xs-6"><h5 id="l8" class="pull-right">Label</h5></div><div class="col-xs-6"><input type="checkbox" name="my-checkbox8" /></div></div>
	<div id="row9" class="row"><div class="col-xs-6"><h5 id="l9" class="pull-right">Label</h5></div><div class="col-xs-6"><input type="checkbox" name="my-checkbox9" /></div></div>
	<div id="row10" class="row"><div class="col-xs-6"><h5 id="l10" class="pull-right">Label</h5></div><div class="col-xs-6"><input type="checkbox" name="my-checkbox10" /></div></div>
	<div id="row11" class="row"><div class="col-xs-6"><h5 id="l11" class="pull-right">Label</h5></div><div class="col-xs-6"><input type="checkbox" name="my-checkbox11" /></div></div>
	<div id="row12" class="row"><div class="col-xs-6"><h5 id="l12" class="pull-right">Label</h5></div><div class="col-xs-6"><input type="checkbox" name="my-checkbox12" /></div></div>
	<div id="row13" class="row"><div class="col-xs-6"><h5 id="l13" class="pull-right">Label</h5></div><div class="col-xs-6"><input type="checkbox" name="my-checkbox13" /></div></div>
	<div id="row14" class="row"><div class="col-xs-6"><h5 id="l14" class="pull-right">Label</h5></div><div class="col-xs-6"><input type="checkbox" name="my-checkbox14" /></div></div>
	<div id="row15" class="row"><div class="col-xs-6"><h5 id="l15" class="pull-right">Label</h5></div><div class="col-xs-6"><input type="checkbox" name="my-checkbox15" /></div></div>
	<div id="row16" class="row"><div class="col-xs-6"><h5 id="l16" class="pull-right">Label</h5></div><div class="col-xs-6"><input type="checkbox" name="my-checkbox16" /></div></div>
	<div id="row17" class="row"><div class="col-xs-6"><h5 id="l17" class="pull-right">Label</h5></div><div class="col-xs-6"><input type="checkbox" name="my-checkbox17" /></div></div>
	<div id="row18" class="row"><div class="col-xs-6"><h5 id="l18" class="pull-right">Label</h5></div><div class="col-xs-6"><input type="checkbox" name="my-checkbox18" /></div></div>
	<div id="row19" class="row"><div class="col-xs-6"><h5 id="l19" class="pull-right">Label</h5></div><div class="col-xs-6"><input type="checkbox" name="my-checkbox19" /></div></div>
	<div id="row20" class="row"><div class="col-xs-6"><h5 id="l20" class="pull-right">Label</h5></div><div class="col-xs-6"><input type="checkbox" name="my-checkbox20" /></div></div>
	<div id="row21" class="row"><div class="col-xs-6"><h5 id="l21" class="pull-right">Label</h5></div><div class="col-xs-6"><input type="checkbox" name="my-checkbox21" /></div></div>
	<div id="row22" class="row"><div class="col-xs-6"><h5 id="l22" class="pull-right">Label</h5></div><div class="col-xs-6"><input type="checkbox" name="my-checkbox22" /></div></div>

	<button type="button" class="btn btn-primary btn-lg btn-block btn-success">
	<span class="glyphicon glyphicon-ok"></span>
	Submit</button>
</div><!-- /content -->
</body>
<script>
//get question set length, ql
var ql = 4;//defaulted to 4 for testing
for(var i=ql+1;i<23;i++){
	var id="[id='row"+i+"']";
	$(id).remove();
};
for(var i=1;i<ql+1;i++){
	var id="[id='l"+i+"']";
	$(id).html("ADD Q LABEL HERE");
	console.log(ql);
	console.log(id);
};
$.fn.bootstrapSwitch.defaults.onText = 'Good';
$.fn.bootstrapSwitch.defaults.offText = 'Bad';
$("[name*='my-checkbox']").bootstrapSwitch();
$("[name*='my-checkbox']").bootstrapSwitch('state',false);
//on submission, pull the values, and assemble in resp
/*
var resp = ""
for(var i=1;i<ql+1;i++){
	var id="[name='my-checkbox"+i+"']";
	var r = $(id).bootstrapSwitch('state'); ? 1 : 0;
	resp+=r
};This needs to be referenced back to the main resp string to get the correct indexing
*/
</script>
</html>
